body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD;;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

select, button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#story-container {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
